
<h1>La temperatura actual es: {{datosDelClima.main.temp}} Cº</h1>

<div>
    <input type="text" #localidad >
    <button (click)="buscarUbicacion(localidad.value)"  >Buscar</button>
</div>

<h1>Ubicacion</h1>
<h2 *ngFor="let ubi of ubicacion" >{{ubi.name}}, {{ubi.state}}</h2>


<!------------------------------------------------------------------------------>
<h1>Probando Sistema</h1>
<div>
    <input type="text">
    <button (click)="busqueda()" >Buscar</button>
</div>
<ul *ngIf="ar">
    <li class="lista" *ngFor="let a of ar" (click)="seleccionarLugar(a)"  >Lugar: {{a}}</li>
</ul>

<div>
    <h4>Lugar seleccionado: {{lugarSeleccionado}}</h4>
</div>