<div class="container">
  <div class="container-elementos">
    <div class="container-temperatura">
      <img class="icono-clima-temperatura" src="../../../assets/icono-clima/clipart1023865.png" alt="">
      <h1 style="font-size: 3rem;margin-top: 1rem;margin-bottom: 0;">10 C°</h1>
      <h1 style="font-size: 1.8rem; margin-bottom: 0;">Monte Grande</h1>
      <h2 style="font-size: 1.5rem; margin-top: 0.5rem; ">Buenos Aires, AR
      </h2>
    </div>
    <div class="container-buscador">
      <div class="container-buscador-elementos">
        <input class="input-buscador" type="text" placeholder="El tiempo en..." />
        <button class="boton-buscador"></button>
      </div>
    </div>
    <div class="container-otrosDatos">
      <p class="otrosDatos-titulo" >Humedad</p>
      <p class="otrosDatos-dato" >45%</p>
      <p class="otrosDatos-titulo">Viento</p>
      <p class="otrosDatos-dato">35 km/h</p>
      <p class="otrosDatos-titulo">Probabilidad de lluvia</p>
      <p class="otrosDatos-dato">10%</p>
    </div>
  </div>
  <div class="container-clima-extendido">
    <div class="card-clima-extendido">
      <h3>Lunes</h3>
      <img class="icono-clima-extendido" src="../../../assets/icono-clima/clipart1023865.png" alt="">
      <p>20 C°</p>
    </div>
    <div class="card-clima-extendido">
      <h3>Martes</h3>
      <img class="icono-clima-extendido" src="../../../assets/icono-clima/clipart1023865.png" alt="">
      <p>20 C°</p>
    </div>
    <div class="card-clima-extendido">
      <h3>Miercoles</h3>
      <img class="icono-clima-extendido" src="../../../assets/icono-clima/clipart1023865.png" alt="">
      <p>20 C°</p>
    </div>
    <div class="card-clima-extendido">
      <h3>Jueves</h3>
      <img class="icono-clima-extendido" src="../../../assets/icono-clima/clipart1023865.png" alt="">
      <p>20 C°</p>
    </div>
  </div>
</div>
